<table class="table">
  <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="step in ctrl.steps">
      <td>{{step.id}}</td>
      <td>{{step.name}}</td>
      <td>
        <a ng-href="play/{{step.id}}">Play</a>&nbsp
        <a ng-href="edit/{{step.id}}">Edit</a>
      </td>

    </tr>
  </tbody>
</table>

<ul>
  <li ng-repeat="save in ctrl.saves" track by $index>{{save.id}}
    <a href="" ng-click="ctrl.deleteSave(save.id, $index)">Supprimer</a>
  </li>
</ul>

<!-- <button class="btn btn-primary" ng-click="ctrl.startGame()">Change</button> -->
