
<div class="play">
  <div ui-view="Stats"></div>
    <strong>life</strong>{{ play.user.life }} <br>
    <strong>Gold</strong>{{ play.user.gold }}
  <div>
    <h4>{{play.step.name}}</h4>
    <p>
      {{play.step.description}}
    </p>
    <ul>
      <li ng-if="play.user.actions.indexOf(action.name)" ng-repeat="action in play.step.actions track by $index">
        <a href="" ng-click="play.selectAction(action)">{{action.name}}</a>
      </li>
    </ul>
  </div>
  <a href="" ng-click="play.saveGame()">Sauvegarder</a>
  {{play.step.name}}
</div>
